<%= form_for @recipe do |f| %>
  
  <div>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <br>
    <%= f.text_area :description %>
  </div> 
   
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div>
  <h3>Ingredients</h3>
  <div id='ingredients'>
    <%= f.fields_for :ingredients do |ingredient| %>
      <%= render 'ingredient_fields', :f => ingredient %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add ingredients', f, :ingredients %>
    </div>
  </div>

  <div>
  <h3>Directions</h3>
  <div id='directions'>
    <%= f.fields_for :directions do |direction| %>
      <%= render 'direction_fields', :f => direction %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add directions', f, :directions %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
   
  <% end %>
