
<h1><%= @recipe.title %></h1>

<p><%= @recipe.description %></p>

<%= link_to 'Back', recipes_path %>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> 
<%= link_to 'Delete', recipe_path, method: :delete, data: {confirm: "Are you sure?"} %>